html {
  font-family: Merriweather, serif;
}

.calendar,
th,
td {
  border: 2px solid #ccc;
}

tbody td {
  height: 11em;
}

.event-space {
  color: #333;
  background-color: #f2f2f2;
  border: 1px solid #666;
  border-radius: 8px;
}

.event-holiday {
  color: #991919;
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  border-radius: 8px;
}

.event-national {
  color: #51603f;
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  border-radius: 8px;
}

.event-death {
  color: #38448e;
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  border-radius: 8px;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
